<VirtualHost *:80>
    DocumentRoot {{ document_root }}

    # Logfiles:
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    LogLevel warn

    <Directory "{{ document_root }}">
            Options FollowSymLinks
            AllowOverride All
            Require all granted
    </Directory>

    DirectoryIndex index.php index.html

    # PHP Flags
    php_admin_flag engine on
    php_admin_flag short_open_tag on
    #use only <?php

    php_admin_flag safe_mode off
    php_admin_flag register_globals off
    php_admin_flag allow_url_fopen on
    php_admin_flag allow_url_include off
    php_admin_flag display_errors off
    php_admin_flag display_startup_errors off
    #php_value error_reporting 2039

    #php_admin_value open_basedir "{{ document_root }}:/tmp"
    php_admin_value memory_limit 512M
    php_admin_value date.timezone "{{ php_timezone }}"
</VirtualHost>